<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Shop</title>
</head>
<body>
<h1>Таблица заказов</h1>
<table>
    <tr><th>id</th><th>Сумма заказа р.</th><th>Дата</th><th>Время</th><th>id пользователя</th></tr>
    <tr><td><input id="id"></td><td><input id="sum"></td><td><input id="date"></td><td><input id="time"></td><td><input id="userId"></td></tr>
</table>
<button onclick="update()">Обновить</button>
<br>
<br>
<br>
<div id="table"></div>
<script>
    function clear(){
        ["id", "sum", "date", "time", "userId"].forEach(text => {
            document.getElementById(text).value = "";
        })
    }

    async function update(){
        let form = {
            'id': document.getElementById("id").value,
            'sum': document.getElementById("sum").value,
            'date': document.getElementById("date").value,
            'time': document.getElementById("time").value,
            'userId': document.getElementById("userId").value
        };
        Object.keys(form).forEach(function (key){
            console.log(form[key]);
        });
        let response = await fetch(document.URL+"/update", {
            method: "Post",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(form)
        });
        if(response.ok){
            alert("Заказ успешно обновлен.");
        }
        else {
            alert("Ошибка "+response.status)
        }
        clear();
        location.reload();
    }

    async function deleteOrder(id){
        let url=document.URL;
        let response = await fetch(url+'/delete?id='+id, {
            method: "Delete"
        });
        if(response.ok){
            alert("Заказ успешно удален.");
        }
        else {
            alert("Ошибка "+response.status)
        }
        location.reload();
    }

    function createTable(response){
        const space = document.getElementById("table");
        let tbl = document.createElement('table');
        tbl.style.width = '100px';
        const tr = tbl.insertRow();
        ["id", "Сумма заказа", "Дата", "Время", "id пользователя"].forEach(
            text => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(text));
                td.style.border = '1px solid black';
            })
        let i = 0;
        for(const order of response){
            const tr = tbl.insertRow();
            Object.keys(order).forEach(key => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(order[key]));
                td.style.border = '1px solid black';
            })
            const td = tr.insertCell();
            let button =  document.createElement("button");
            button.id=order.id;
            button.textContent="Удалить";
            button.onclick= function () {
                deleteOrder(this.id);
            };
            td.appendChild(button);
            i+=1;
        }
        space.appendChild(tbl);
    }

    async function load(){
        let response = await fetch(document.URL+"/all")
            .then(function(response) {
                if (!response.ok) {
                    alert("Невозможно загрузить заказы. Ошибка "+ response.status)
                }
                return response.json()
            });
        createTable(response);
    }

    load();
</script>
<br>
<a href="/page">Назад</a>
</body>
</html>