<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Shop</title>
</head>
<body>
<h1>Таблица товаров</h1>
<table>
    <tr><th>id</th><th>Название товара</th><th>Описание</th><th>Количество</th><th>Цена р.</th></tr>
    <tr><td><input id="id"></td><td><input id="name"></td><td><input id="description"></td><td><input id="quantity"></td><td><input id="price"></td></tr>
</table>
<button onclick="create()">Создать</button><button onclick="update()">Обновить</button>
<br>
<br>
<br>
<div id="table"></div>
<script>
    function clear(){
        ["id", "name", "description", "quantity", "price"].forEach(text => {
            document.getElementById(text).value = "";
        })
    }

    async function update(){
        let form = {
            'id': document.getElementById("id").value,
            'name': document.getElementById("name").value,
            'description': document.getElementById("description").value,
            'quantity': document.getElementById("quantity").value,
            'price': document.getElementById("price").value
        };
        Object.keys(form).forEach(function (key){
            console.log(form[key]);
        });
        let response = await fetch(document.URL+"/update", {
            method: "Post",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(form)
        });
        if(response.ok){
            alert("Продукт успешно обновлен.");
        }
        else {
            alert("Ошибка "+response.status)
        }
        clear();
        location.reload();
    }

    async function create(){
        let form = {
            'id': document.getElementById("id").value,
            'name': document.getElementById("name").value,
            'description': document.getElementById("description").value,
            'quantity': document.getElementById("quantity").value,
            'price': document.getElementById("price").value
        };

        let response = await fetch(document.URL+"/create", {
            method: "Post",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(form)
        });
        if(response.ok){
            alert("Продукт успешно создан.");
        }
        else {
            alert("Ошибка "+response.status)
        }
        clear();
        window.location.reload();
    }

    async function deleteProduct(id){
        let response = fetch(document.URL+'/delete?id='+id, {
            method: "Delete"
        });
        if(response.ok){
            alert("Продукт удален успешно.");
        }
        else {
            alert("Ошибка "+ response.status)
        }
        location.reload();
    }

    function createTable(response){
        const space = document.getElementById("table");
        let tbl = document.createElement('table');
        tbl.style.width = '100px';
        const tr = tbl.insertRow();
        ["id", "Название товара", "Описание", "Количество шт.", "Цена р."].forEach(
            text => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(text));
                td.style.border = '1px solid black';
            })
        let i = 0;
        for(const product of response){
            const tr = tbl.insertRow();
            Object.keys(product).forEach(key => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(product[key]));
                td.style.border = '1px solid black';
            })
            const td = tr.insertCell();
            let button =  document.createElement("button");
            button.id=product.id;
            button.textContent="Удалить";
            button.onclick= function () {
                deleteProduct(this.id);
            };
            td.appendChild(button);
            i+=1;
        }
        space.appendChild(tbl);
    }

    async function load(){
        let response = await fetch(document.URL+"/user/all")
            .then(function(response) {
                if (!response.ok) {
                    alert("Невозможно загрузить продукты. Ошибка "+ response.status)
                }
                return response.json()
            });
        createTable(response);
    }

    load();
</script>
<br>
<a href="/page">Назад</a>
</body>
</html>

