<html lang="ru">
<head>
    <title>Shop</title>
</head>
<body>
<h1>Таблица пользователей</h1>
<table>
    <tr><th>id</th><th>Имя пользователя</th><th>Возраст</th><th>Пол</th><th>Логин</th><th>Пароль</th><th>Админ</th><th>Активен</th></tr>
    <tr><td><input id="id"></td><td><input id="name"></td><td><input id="age"></td><td><input id="gender"></td><td><input id="login"></td><td><input id="password"></td><td><input id="role"></td><td><input id="enabled"></td></tr>
</table>
<button onclick="create()">Создать</button><button onclick="update()">Обновить</button>
<br>
<br>
<br>
<div id="table"></div>
<script>
    function clear(){
        ["id", "name", "gender", "login", "age", "password", "role", "enabled"].forEach(text => {
            document.getElementById(text).value = "";
        })
    }

    async function update(){
        let form = {
            'id': document.getElementById("id").value,
            'name': document.getElementById("name").value,
            'gender': document.getElementById("gender").value,
            'login': document.getElementById("login").value,
            'age': document.getElementById("age").value,
            'password': document.getElementById("password").value,
            'role': document.getElementById("role").value,
            'enabled': document.getElementById("enabled").value
        };
        let needUpdate = false;
        Object.keys(form).forEach(key => {
            if (form[key] !== "" && key !== "id"){
                needUpdate = true;
            }
        });

        if (needUpdate) {
            let response = await fetch(document.URL + "/update", {
                method: "Post",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(form)
            });
            if (response.ok) {
                alert("Пользователь успешно обновлен.");
            } else {
                alert("Пользователь не найден. Ошибка " + response.status);
            }
            clear();
            location.reload();
        } else alert("Заполните данные!");
    }

    async function create(){
        let form = {
            'id': document.getElementById("id").value,
            'name': document.getElementById("name").value,
            'gender': document.getElementById("gender").value,
            'login': document.getElementById("login").value,
            'age': document.getElementById("age").value,
            'password': document.getElementById("password").value,
            'role': document.getElementById("role").value,
            'enabled': document.getElementById("enabled").value
        };

        let response = await fetch(document.URL+"/create", {
            method: "Post",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(form)
        });
        if(response.ok){
            alert("Пользователь успешно создан.");
        }
        else {
            alert("Ошибка "+response.status)
        }
        clear();
        location.reload();
    }

    async function deleteUser(id){
        let url=document.URL;
        let response = await fetch(url+'/delete?id='+id, {
            method: "Delete"
        });
        if(response.ok){
            alert("Пользователь успешно удален.");
        }
        else {
            alert("Ошибка "+ response.status)
        }
        location.reload();
    }

    function createTable(response){
        const space = document.getElementById("table");
        let tbl = document.createElement('table');
        tbl.style.width = '100px';
        const tr = tbl.insertRow();
        ["id", "Логин", "Имя пользователя", "Пароль", "Возраст", "Пол", "role", "enabled"].forEach(
            text => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(text));
                td.style.border = '1px solid black';
            })
        let i = 0;
        for(const user of response){
            const tr = tbl.insertRow();
            Object.keys(user).forEach(key => {
                const td = tr.insertCell();
                td.appendChild(document.createTextNode(user[key]));
                td.style.border = '1px solid black';
            })
            const td = tr.insertCell();
            let button =  document.createElement("button");
            button.id=user.id;
            button.textContent="Удалить";
            button.onclick= function () {
                deleteUser(this.id);
            };
            td.appendChild(button);
            i+=1;
        }
        space.appendChild(tbl);
    }

    async function load(){
        let response = await fetch(document.URL+"/all")
            .then(function(response) {
                if (!response.ok) {
                    alert("Невозможно загрузить пользователей. Ошибка "+ response.status)
                }
                return response.json()
            });
        createTable(response);
    }
    load();
</script>
<br>
<a href="/page">Назад</a>
</body>
</html>